Flask==1.1.4
langchain==0.1.16
langchain_community==0.0.33
langchain_core==0.1.43
langchain_text_splitters==0.0.1
pandas==2.2.2
PyPDF2==3.0.1
python-dotenv==1.0.1
setuptools==65.5.1
tabula==1.0.5
ctransformers==0.2.5
sentence-transformers==2.2.2
pypdf
flask
faiss-cpu
-e .
